*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body,
html {
  height: 100%;
}
body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.wrapper,
.catalog,
.container {
  width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
header,
footer {
  background: url('img/055_full_hd_wallpaper.jpg') ;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu li {
  display: block;
  width: 200px;
  border-right: 2px solid #cccccc;
  background-color: #f17500;
  text-align: center;
  font-size: 24px;
  line-height: 70px;
  color: #ffffff;
}
.menu li:hover {
  background-color: #ffffff;
  color: #000000;
}
.menu li:last-child {
  border: none;
}
.menu a {
  display: block;
  width: 100%;
  color: inherit;
}
h1,
h3 {
  text-align: center;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  background-color: #eaeaea;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 5px;
}
hr {
  margin-top: 50px;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.main-block {
  display: block;
  width: 1000px;
  margin: 0 auto;
}
.main-text {
  font-style: italic;
  font-size: 24px;
  text-align: justify;
  text-indent: 50px;
  margin-top: 10px;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catalog a {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-size: 18px;
  color: black;
  outline: 5px solid #f17500;
}

.description-full:first-letter,
.description-short:first-letter {
  font-family: 'Pattaya', sans-serif;
  font-size: 50px;
  color: #f17500;
}
.description-short:first-letter {
  font-size: 30px;
  font-style: normal;
}
.wrapper a {
  display: block;  
  outline: 5px solid #f17500;
}
.catalog a:hover,
.wrapper a:hover {
  outline: none;
}
.catalog-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.catalog-wrapper img {
  width: 300px;
}
.description-short {
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
  margin-bottom: 15px;
}
.description-full {
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.coast,
.button-buy{
  display: inline-block;
  margin: 10px 20px 0;
}
.coast {
  color: #f17500;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.button-buy {
  width: 150px;
}
h4 {
  font-weight: 500;
  font-style: italic;
}
h4,
h4 + p {
  display: inline-block;
}
.p-block {
  display: block;
  margin-left: 20px;
}
.specifications-fon {
  background-color: #fff;
  padding-bottom: 30px;
}
.specifications-fon + h3 {
  margin-top: 0;
}
.specifications {
  list-style-image: url("./img/ul-type.png");
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
  border-collapse: collapse;
}
td,
th {
  padding: 5px;
  border: 1px solid #aaaaaa
}
th {
  height: 50px;
  min-width: 100px;
}
td:first-child {
font-weight: bold;
min-width: 150px;
}
tr:nth-child(2) {
  text-align: center;
}
tr:nth-child(2) td:first-child {
  font-weight: normal;
  min-width: 100px;
  }
ul b {
  text-decoration: underline;
}
form {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.container-form {
  display: flex;
  justify-content: space-around;
}
.left-block {
  width: 35%;
}
.right-block {
  width: 55%;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  height: 30px;
  background-color: #eaeaea;
  color: #000000;
  margin-bottom: 10px;
  padding-left: 10px;
}
input::placeholder,
textarea::placeholder {
  color: #aaaaaa;
}
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  background-color: #f17500;
  color: #fff;
}
input[type="text"],
textarea {
  text-transform: capitalize;
}
textarea {
  width: 100%;
  padding: 10px;
  background-color: #eaeaea;
}
.buttons {
  width: 50%;
  margin: 10px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #f17500;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color:#c99769;
  color: #000000;
}
button:active {
  background-color: #eaeaea;
  color: #000000;
}
.address {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
iframe {
  margin-top: 30px;
  width: 100%;
  height: 374px;
}
.address + hr {
  margin: 10px;
}
.address a {
  color: #aaaaaa;
}
.address a:hover {
  color: #f17500;
  text-decoration: underline;
}
footer {
  background-color: #ccc;
  height: 60px;
}
footer p {
  padding-top: 20px;
  text-align: right;
  padding-right: 20px;
}